@charset: "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px 20px;
}

/* common */
h2 {
    text-align: center;
    margin: 30px 0;
    color: #999;
}
dt {
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}
nav {
    background-color: #ccc;
}
nav .global-nav {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

nav .global-nav li {
    display: inline-block;
    width: 70px;
    background-color: #f90;
    color: #fff;
    text-align: center;
    padding: 5px;
}

/* exe-1 */
.exe-1 .exe-1-1 {
  text-align: center;
  border: 1px solid #555;
  font-size: 20px;
}
.exe-1 .block, .exe-1 .inline-block, .exe-1 .inline {
  width: 200px;
  height: 100px;
  line-height: 100px;
  background-color: #f53;
  border: 1px solid #555;
  margin: 10px auto;
}
.exe-1 .block {
  display: block;
}
.exe-1 .inline-block {
  display: inline-block;
}
.exe-1 .inline {
  display: inline;
  padding: 10px;
}

/* exe-2 */
.exe-2 .exe-2_3 + dd .global-nav {
    font-size: 0;
}

.exe-2 .exe-2_3 + dd .global-nav li {
    font-size: 1rem;
}

.exe-2 .exe-2_4 + dd .global-nav {
    letter-spacing: -1em;
}

.exe-2 .exe-2_4 + dd .global-nav li {
    letter-spacing: 0;
}

/* exe-3 */
.exe-3 nav .global-nav {
    width: 100%;
    text-align: left;
}
.exe-3 nav .global-nav li {
    width: 15%;
    vertical-align: top;
}

.exe-3 .exe-3_2 + dd .global-nav {
    overflow: hidden;
}

.exe-3 .exe-3_2 + dd .global-nav li {
    float: left;
}

