<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EvernoteAPI</title>
<link rel="stylesheet" type="text/css" href="css/exe.css">
</head>
<body>
<h1><%= noteTitle %></h1>
<div id="container">
    <p><%- body %></p>
<!--
<h1>ラーメンデータ一覧</h1>
<ul><li></li></ul>
-->
</div>
</body>
</html>

