<% if (page === 'top') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://satoru-t-0403.boo.jp/mysite/" target="_blank">ポートフォリオ</a>です。</span><img src="img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<% } else if (page === 'detail') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://satoru-t-0403.boo.jp/mysite/" target="_blank">ポートフォリオ</a>です。</span><img src="../../img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<% } %>
