<% if (page === 'top') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://satoru-t-0403.boo.jp/mysite/" target="_blank">ポートフォリオ</a>です。</span><img src="img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<div class="a8-link_banner">
  <a href="https://px.a8.net/svt/ejp?a8mat=2NV3C0+A4E2A+37HI+5ZU29" target="_blank">
    <img border="0" width="250" height="250" alt="" src="https://www26.a8.net/svt/bgt?aid=161014176017&wid=001&eno=01&mid=s00000014967001007000&mc=1">
  </a>
  <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2NV3C0+A4E2A+37HI+5ZU29" alt="">
</div>
<% } else if (page === 'detail') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://satoru-t-0403.boo.jp/mysite/" target="_blank">ポートフォリオ</a>です。</span><img src="../../img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<div class="a8-link_banner">
  <a href="http://rpx.a8.net/svt/ejp?a8mat=2NV3C0+7QNN6+2HOM+6K735&rakuten=y&a8ejpredirect=http%3A%2F%2Fhb.afl.rakuten.co.jp%2Fhgc%2F0eb4779e.5d30c5ba.0eb4779f.b871e4e3%2Fa16101437114_2NV3C0_7QNN6_2HOM_6K735%3Fpc%3Dhttp%253A%252F%252Ftravel.rakuten.co.jp%252F%26m%3Dhttp%253A%252F%252Ftravel.rakuten.co.jp%252F" target="_blank">
    <img src="http://hbb.afl.rakuten.co.jp/hsb/0ea7f9c8.514613d5.0ea7f99d.1ac92fca/153145/" border="0">
  </a>
  <img border="0" width="1" height="1" src="https://www12.a8.net/0.gif?a8mat=2NV3C0+7QNN6+2HOM+6K735" alt="">
</div>
<% } %>
<div class="famous">
  <h3>おすすめブログ</h3>
  <p>準備中</p>
</div>
<div class="category">
  <h3>カテゴリー別</h3>
  <p>準備中</p>
</div>
