<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のための日々を綴れればと思います！<br>こちら<a href="http://satoru-t-0403.boo.jp/mysite/" target="_blank">ポートフォリオ</a>です。</span><img src="/img/me_02.jpg" alt="田中暁の画像"></p>
</div>
