<% if (page === 'top') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://sssatoru-t.info/portfolio/" target="_blank">ポートフォリオ</a>です。</span><img src="img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<div class="a8-link_banner">
  <a href="https://px.a8.net/svt/ejp?a8mat=2NV3C0+8XIUQ+50+2HNVPD" target="_blank">
  <img border="0" width="300" height="250" alt="" src="https://www24.a8.net/svt/bgt?aid=161014176015&wid=001&eno=01&mid=s00000000018015060000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2NV3C0+8XIUQ+50+2HNVPD" alt="">
</div>
<% } else if (page === 'detail') { %>
<div class="intro">
    <h3>田中暁(Satoru Tanaka)</h3>
    <p><span>「Webで豊かな生活を(Web is life)」のために日々を綴ります。フロントエンドエンジニアの技術をメインに関連技術、ラーメンが大好きなので、ラーメン日記。<br>まだまだ半人前ですがよろしくお願いします。<br>こちら<a href="http://sssatoru-t.info/portfolio/" target="_blank">ポートフォリオ</a>です。</span><img src="../../img/me_02.jpg" alt="田中暁の画像"></p>
</div>
<div class="a8-link_banner">
  <a href="https://px.a8.net/svt/ejp?a8mat=2NV3C0+8XIUQ+50+2HK0TD" target="_blank">
  <img border="0" width="350" height="80" alt="" src="https://www23.a8.net/svt/bgt?aid=161014176015&wid=001&eno=01&mid=s00000000018015042000&mc=1"></a>
  <img border="0" width="1" height="1" src="https://www14.a8.net/0.gif?a8mat=2NV3C0+8XIUQ+50+2HK0TD" alt="">
</div>
<% } %>
<div class="famous">
  <h3>おすすめブログ</h3>
  <p>準備中</p>
</div>
<div class="category">
  <h3>カテゴリー別</h3>
  <p>準備中</p>
</div>
<div class="news">
  <h3>お知らせ</h3>
  <dl>
    <dt>2016.12.02</dt>
    <dd>あああああああ機能追加あああああああ機能追加</dd>
  </dl>
  <dl>
    <dt>2016.12.02</dt>
    <dd>テスト機能追加テスト</dd>
  </dl>
  <dl>
    <dt>2016.12.02</dt>
    <dd>あああああああ機能追加</dd>
  </dl>
</div>
