<div>
    <h3>
    ご覧いただきありがとうございます。
    <br>
    Thank you for seeing.
    <br>
    This skills are used ...</h3>
    <ul>
        <li><a href="http://nodejs.jp/" target="_blank">NodeJS</a></li>
        <li><a href="http://ejs.co/" target="_blank">EJS</a></a></li>
        <li><a href="http://gulpjs.com/" target="_blank">gulpJS</a></li>
        <li><a href="http://fontawesome.io/" target="_blank">Font Awesome</a></li>
        <li><a href="https://fonts.google.com/" target="_blank">Google Fonts</a></li>
        <li>and</li>
        <li><a href="https://evernote.com/intl/jp/" target="_blank">Evernote</a></li>
    </ul>
</div>
<p class="copyrights">&copy; 2016 SatoruTanaka All Rights Reserved</p>
