<%
    var headerTitle = 'さささWeblog';
    if (page === 'top') {
%>
<h1 class="font-effect-3d-float"><%= headerTitle %> <span>〜Web技術、ラーメン、etc...〜</span></h1>
<% } %>
<%
    if (page === 'detail') {
%>
<p class="font-effect-3d-float"><%= headerTitle %></p>
<% } %>