<%
var headerTitle = 'さささラーメン';
if (page === 'top') {
%>
<h1 class="font-effect-3d-float"><a href="/blog"><%= headerTitle %> <span>--- 東京ラーメンブログ ---</span></a></h1>
<% } %>
<%
if (page === 'detail') {
%>
<p class="font-effect-3d-float"><a href="/blog"><%= headerTitle %></a></p>
<% } %>
