<%
    var headerTitle = 'さささWeblog';
    if (page === 'top') {
%>
<h1><%= headerTitle %> <span>〜Web技術、ラーメン、etc...〜</span></h1>
<% } %>
<%
    if (page === 'detail') {
%>
<p><%= headerTitle %></p>
<% } %>