<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<!-- <script type="text/javascript" src="lib/handlebars.min.js"></script> -->
<script type="text/javascript" src="js/global.js"></script>
<!-- <script type="text/javascript" src="js/common.hb.js"></script> -->
<!-- <script type="text/javascript" src="js/common.doXhr.js"></script> -->
<!-- <script type="text/javascript" src="js/page.js"></script> -->
<title>BLOG_SatoruTanaka</title>
</head>
<body>
<header>
    <h1>BLOG</h1>
</header>
<section>
    <article class="top-article">
        <ul>
            <%
            Array.prototype.forEach.call(data, function (noteData) {
            %>
            <li>
                <a href="viewData/<%= noteData.created %>" target="_blank">
                    <dl class="contents-item">
                        <dt>
                            <h2><%= noteData.noteTitle %></h2>
                        </dt>
                        <dd>
                            <p><%- noteData.noteText %></p>
                        </dd>
                    </dl>
                </a>
            </li>
            <%
            });
            %>
        </ul>
    </article>
    <div class="dummy_article"></div>
    <aside>
        補足記事
    </aside>
</section>
<footer>
    <p class="copyrights">&copy; 2016 SatoruTanaka All Rights Reserved</p>
</footer>
<!-- <script type="text/javascript" src="js/center.js"></script> -->
</body>
</html>
