<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script type="text/javascript" src="lib/handlebars.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/common.hb.js"></script>
<script type="text/javascript" src="js/common.doXhr.js"></script>
<script type="text/javascript" src="js/page.js"></script>
<title>My Blog</title>
</head>
<body>
<h1>ブログテスト</h1>
<div id="container">
    <header>ヘッダー</header>
    <section>
        <article>
            <!-- テンプレート -->
        </article>
        <div class="dummy_article"></div>
        <aside>補足記事</aside>
    </section>
    <footer>
        <p>フッター</p>
        <p>&copy; 2016 SatoruTanaka All Rights Reserved</p>
    </footer>
</div>
<script id="temp-ramen" type="text/x-handlebars-template">
{{#object}}
    <h2>{{noteTitle}}</h2>
    <p>{{noteText}}</p>
{{/object}}
</script>
<script id="temp-test" type="text/x-handlebars-template">
{{#object}}
    <h2>{{noteTitle}}</h2>
    <p class="test_p">{{noteText}}</p>
{{/object}}
</script>
<script type="text/javascript" src="js/center.js"></script>
</body>
</html>
