<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<!-- <script type="text/javascript" src="lib/handlebars.min.js"></script> -->
<script type="text/javascript" src="js/global.js"></script>
<!-- <script type="text/javascript" src="js/common.hb.js"></script> -->
<!-- <script type="text/javascript" src="js/common.doXhr.js"></script> -->
<!-- <script type="text/javascript" src="js/page.js"></script> -->
<title>BLOG_SatoruTanaka</title>
</head>
<body>
<header>
    <%- include('includes/common/header.ejs', {page: 'top'}) %>
</header>
<section id="container">
    <article>
        <ul class="top-article">
            <%
            data.sort(function (a, b) {
                return b.update - a.update; 
            });
            data.forEach(function (noteData) {
                var upDate = new Date(Number(noteData.update)).toLocaleString();
            %>
            <li>
                <a href="viewData/<%= noteData.created %>" target="_blank">
                    <dl class="contents-item">
                        <dt>
                            <h2><%= noteData.noteTitle %></h2>
                        </dt>
                        <dd>
                            <p><%- upDate %></p>
                        </dd>
                    </dl>
                </a>
            </li>
            <%
            });
            %>
        </ul>
    </article>
    <div class="dummy_article"></div>
    <aside></aside>
</section>
<footer>
    <% include includes/common/footer.ejs %>
</footer>
<!-- <script type="text/javascript" src="js/center.js"></script> -->
</body>
</html>
