<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/cee" href="css/common.css">
<title>My Blog</title>
</head>
<body>
<h1>ブログテスト</h1>
<div id="container">
</div>
</body>
<script type="text/javascript" src="js/page.js"></script>
</html>
