@charset "utf-8";

/* common */
html, body {
    height: 100%;
    overflow: scroll;
}
body {
    background-color: #c0c0c0;
    color: #222;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3, h4, h5, h6 {
    font-size: 1em;
}
h1 span {
    font-size: 0.5em;
}

a:link {
    color: #222;
    text-decoration: none;
}
a:visited {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #222;
    text-decoration: none;
}
a:active {
    color: #222;
    text-decoration: none;
}

header {
    padding: 20px 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
header p {
    font-weight: bold;
}

section {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    display: box;
    display: -webkit-box;
    display: -mos-box;
}
article {
    width: 70%;
}
aside {
    width: 29%;
    background-color: #fff;
    box-shadow: 2px 0 2px 2px #222;
}
.intro {
    padding: 20px 10px;
}
.intro > h3 {
    font-weight: normal;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 10px;
}
.intro > p {
    margin-top: 10px;
    overflow: hidden;
    font-size: 0.8em;
    letter-spacing: 0.05em;
}
.intro > p span a:link {
    color: #fff;
    background-color: rgba(255, 105, 180, 0.2);
}
.intro > p span a:hover,
.intro > p span a:visited,
.intro > p span a:active {
    text-decoration: underline;
}
.intro > p > span {
    display: inline-block;
    width: 70%;
    float: left;
}
.intro img {
    width: 25%;
    float: right;
}
.dummy_article {
    width: 12px;
}
footer {
    padding: 20px 12px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
.copyrights {
    text-align: right;
}

/* top */
article ul.top-article {
    width: 100%;
}
article ul.top-article li {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}
article ul.top-article li a {
    display: block;
}
article ul.top-article li a:hover,
article ul.top-article li a:active {
    box-shadow: 1px 1px 30px 1px #ff69B4;
}
article ul.top-article li:last-child {
    margin-bottom: 20px;
}

.top-article dl.contents-item {
    width: 100%;
    height: 400px;
    padding: 0 48px 40px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #ff69B4;
    overflow: hidden;
    position: relative;
}
.top-article dl.contents-item dt {
    letter-spacing: 0.05em;
    height: 50px;
    margin-top: 40px;
}
.top-article dl.contents-item dd {
    letter-spacing: 0.05em;
    height: 200px;
    overflow: hidden;
}
.top-article dl.contents-item dd p {
}
.top-article .pubDate {
    text-align: right;
    color: #fff;
    position: absolute;
    bottom: 40px;
    right: 48px;
}

/* detail */
.detail-article {
    padding: 20px 40px;
}

.detail-article h2 {
    border-bottom: 2px solid #fff;
}
