@charset "utf-8";

/* common */
html, body {
    height: 100%;
    overflow: scroll;
    font-family: 'Montserrat', Meiryo, メイリオ, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'helvetica', 'arial', sans-serif;
}
body {
    /*background-color: #c0c0c0;*/
    background-color: #df3737;
    color: #000;
}
img {
    max-width: 100%;
    max-height: 600px;
}
h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3, h4, h5, h6 {
    font-size: 1em;
}
h1 span {
    font-size: 0.3em;
}
a {
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
a:link {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
a:active {
    color: #000;
    text-decoration: none;
}
footer a:hover {
    opacity: 0.3;
    background-color: rgba(0, 0, 0, 0.3);
}
ul {
    list-style-type: none;
}
/* module */
header {
    padding: 20px 12px;
    color: #000;
}
header p {
    font-weight: bold;
}
section {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}
article {
    width: 70%;
}
aside {
    width: 29%;
    background-color: #fff;
    box-shadow: 2px 1px 2px 0px #222;
    font-size: 0.8em;
}
aside h3 {
    font-weight: normal;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.intro, .famous, .category, .news {
    padding: 20px 10px;
}
.intro > p {
    overflow: hidden;
    letter-spacing: 0.05em;
}
.intro a {
    background-color: rgba(255, 105, 180, 0.2);
}
.intro a:hover, .intro a:visited, .intro a:active {
    text-decoration: underline;
}
.intro > p > span {
    display: inline-block;
    width: 70%;
    float: left;
}
.intro img {
    width: 25%;
    float: right;
}
.news dl {
    margin-bottom: 10px;
}
.news dl dt {
    display: inline-block;
    border-left: 2px solid #c0c0c0;
    border-right: 2px solid #c0c0c0;
    padding: 0 5px;
    margin-bottom: 5px;
}

.dummy_article {
    width: 12px;
}

footer {
    padding: 20px 12px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}
footer h3 {
    font-size: 1.25em;
}
footer ul {
    margin: 10px 0 10px 20px;
}
footer ul li {
    display: inline-block;
    background-color: #c0c0c0;
    border-radius: 10px;
    color: #222;
}
footer ul li:nth-last-of-type(2) {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}
footer ul li a {
    display: block;
    padding: 10px;
}

nav {
    width: 100%;
}

.copyrights {
    text-align: right;
}
.icon-list .fa {
    font-size: 1.5em;
}

/* top */
#top h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
article ul.top-article {
    width: 100%;
}
article ul.top-article li {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
}
article ul.top-article li a {
    display: block;
}
article ul.top-article li a:hover,
article ul.top-article li a:active {
    opacity: 0.5;
    box-shadow: 1px 1px 30px 1px #222;
}
article ul.top-article li:last-child {
    margin-bottom: 20px;
}

.top-article dl.contents-item {
    width: 100%;
    height: 300px;
    padding: 40px 48px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px #222;
    overflow: hidden;
    position: relative;
}
.top-article dl.contents-item dt {
    letter-spacing: 0.05em;
    height: 50px;
}
.top-article dl.contents-item dd {
    letter-spacing: 0.05em;
    height: 100px;
    overflow: hidden;
}
.top-article .pubDate {
    text-align: right;
    color: #222;
    position: absolute;
    bottom: 40px;
    right: 48px;
    font-size: 1em;
}

/* detail */
.detail-article {
    padding: 30px 40px;
    overflow: hidden;
}
.detail-article h1 {
    border-left: 5px solid #fff;
    padding-left: 10px;
    margin-bottom: 30px;
}
.detail-article .pubDate {
    display: inline-block;
    background-color: #fff;
    padding: 10px;
}
.detail-article .icon-list {
    margin-right: 10px;
    vertical-align: middle;
}
.detail-article .content-wrap {
    padding: 10px 0;
}
.detail-article .content-wrap img {
    box-shadow: 2px 2px 10px 0px #222;
}

/* nav */
#paging {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
#paging ul {
    display: inline-block;
    overflow: hidden;
}
#paging ul li {
    float: left;
    margin: 20px;
}
#paging a:hover {
    color: #fff;
}
#paging .paging-prev:hover::after {
    content: 'PREV';
}
#paging .paging-next:hover::before {
    content: 'NEXT';
}

/* a8 */
.a8-link_banner {
    text-align: center;
    padding: 20px 0;
}

/* share-btn */
.share-btn-box {
    margin: 30px 0;
}
.follow-btn-box {
    margin: 10px 0;
}
.share-btn-box .tw-like {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.follow-btn-box .tw-follow {
    display: inline-block;
    margin-left: 5px;
    vertical-align: bottom;
}
