<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="ja">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../lib/sanitize.css">
<link rel="stylesheet" type="text/css" href="../../css/common.css">
<!-- <script type="text/javascript" src="lib/handlebars.min.js"></script> -->
<script type="text/javascript" src="../../js/global.js"></script>
<!-- <script type="text/javascript" src="js/common.hb.js"></script> -->
<!-- <script type="text/javascript" src="js/common.doXhr.js"></script> -->
<!-- <script type="text/javascript" src="js/page.js"></script> -->
<title>BLOG_SatoruTanaka</title>
</head>
<body>
<header>
    <%- include('../includes/common/header.ejs', {page: 'detail'}) %>
</header>
<section id="detail">
    <article class="detail-article"><%- include('../includes/tmp/article.ejs', data) %></article>
    <div class="dummy_article"></div>
    <aside><div><%- include('../includes/common/aside.ejs')%></div></aside>
</section>
<footer>
    <% include ../includes/common/footer.ejs %>
</footer>
<script type="text/javascript" src="../../js/detail.js"></script>
</body>
</html>
